/* Reset and Base Styles */
body {
  background-color: #ffe2e5;
}

/* Header */
header {
  background-color: #d0021b; /* Mitsubishi red */
  color: #ffffff;
}

.section-title {
  color: #d0021b;
}


/* BibTeX Citation Block */
.bibtex-block {
  border-left: 6px solid #ba0c2f;
}

.btn {
  background-color: #d0021b;
  color: #ffffff;
}

.btn:hover {
  background-color: #73000d;
  color: #ffffff;
}

a {
  color: #d0021b;
  text-decoration: none;
}

.tldr-block {
  border-left: 6px solid #ba0c2f; /* MERL red */
  background-color: #f0f0f0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.tldr-title {
  color: #ba0c2f;
}
