/* Reset and Base Styles */
body {
  background-color: #ecffca;
}

/* Header */
header {
  background-color: #76b900; /* NVIDIA green */
  color: #ffffff;
}

.section-title {
  color: #76b900;
}


/* BibTeX Citation Block */
.bibtex-block {
  border-left: 6px solid #76b900;
}

.btn {
  background-color: #76b900;
  color: #ffffff;
}

.btn:hover {
  background-color: #5a8a00;
  color: #ffffff;
}

a {
  color: #76b900;
  text-decoration: none;
}

.tldr-block {
  border-left: 6px solid #5a8a00; /* dark green */
  background-color: #f0f0f0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.tldr-title {
  color: #76b900;
}
