---
title: Chiao-An Yang
layout: default
---

<section id="main" class="paper-section">
  {% include main.html %}
</section>

<section id="news" class="paper-section">
  {% include news.html %}
</section>

<section id="affiliations" class="paper-section">
  {% include affiliations.html %}
</section>

<section id="research" class="paper-section">
  {% include research.html %}
</section>

<section id="teaching" class="paper-section">
  {% include teaching.html %}
</section>

<section id="awards" class="paper-section">
  {% include awards.html %}
</section>
