---
title: Welcome
layout: default
---

<br>
<div id="main" class="section main">
{% include main.html %}
</div>

<div id="research" class="section research">
<br>
<hr style="height:2px;border:none;color:#333;background-color:#333;" />
<br>
{%include research.html%}
</div>

<div id="teaching" class="section teaching">
<br>
<hr style="height:2px;border:none;color:#333;background-color:#333;" />
<br>
{%include teaching.html%}
</div>

<div id="awards" class="section awards">
<br>
<hr style="height:2px;border:none;color:#333;background-color:#333;" />
<br>
{%include awards.html%}
</div>

<br>
