<html>
    <h1>Short Bio</h1>
    <p>
        I am a third-year PhD student at Purdue University, 
        studying for a computer science degree under the supervision of
        Prof. <a href="https://raymond-yeh.com/">Raymond A. Yeh</a>.
    </p>    
    <p>
        My research interests include improving pre-trained models with minimal test-time effort and meta-learning. 
        I have also worked on image outpainting (synthesis) and representation learning for image retrieval.
    </p> 
    <p>
        I received my Bachelor's and Master's degrees from National Taiwan University, 
        where I was advised by Prof. <a href="https://scholar.google.com/citations?user=uSS3FwQAAAAJ&hl=zh-TW">Yung-Yu Chuang</a>. 
        Afterward, I worked as a Research Assistant for two years 
        in <a href="https://vllab.ee.ntu.edu.tw/">VLLab</a>
        under the guidance of Prof. <a href="https://vllab.ee.ntu.edu.tw/ycwang.html">Yu-Chiang Frank Wang</a>.
    </p>
</html>
