<div class="row justify-content-md-center">
  <div class="col-md-8">
    {% include bio.html %}
  </div>
  <div class="col-md-4 my-auto">
    <img src="/resource/photo.jpg" class="avatar" alt="{{ site.data.info.name }}">
    <div class="contact-block">
      <strong>{{ site.data.info.name }}</strong>
      <address>{{ site.data.info.email }}</address>
      <div class="social-icons">
        <a href="{{ site.data.info.gscholar }}" aria-label="Google Scholar"><img src="/logos/scholar.png" alt="Scholar"></a>
        <a href="{{ site.data.info.github }}" aria-label="GitHub"><img src="/logos/github.png" alt="GitHub"></a>
        <a href="{{ site.data.info.orcid }}" aria-label="ORCID"><img src="/logos/orcid_logo.png" alt="ORCID"></a>
      </div>
    </div>
  </div>
</div>
