
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-8">
      {% include bio.html %}
      <!-- <div class="pasteHere">
        <p id="fileTextHere">text from files/text.txt</p>
      </div> -->
      <!-- <script>
          $('#fileTextHere').load("resource/bio.txt");
      </script> -->
    </div>
    <div class="col-md-4 my-auto">
      <div class="pic text-center">
        <img src="resource/photo.jpg" class="rounded img-fluid" style="max-width: 220px">
      </div>
      <address class="text-center">
        <strong>{{site.data.info.name}}</strong><br>
        Email: {{site.data.info.email}}<br>
      </address>
      <p>
        <div class="text-center text-nowrap">
          <a href="{{site.data.info.gscholar}}">
            <img src="logos/scholar.svg" width="48" height="48"></a>&nbsp &nbsp &nbsp
          <a href="{{site.data.info.github}}">
            <img src="logos/github.svg" width="48" height="48"></a>&nbsp &nbsp &nbsp
          <a href="{{site.data.info.orcid}}">
            <img src="logos/orcid_logo.png" width="48" height="48"></a>
        </div>
      </p>
    </div>
  </div>

  <h2>Affiliations</h2>
  <br>
  <div class="row">
    {% for aff in site.data.affiliations.affiliation %}
    <div class="col-sm">
      <center>
      <img src={{aff.logo}} height=60 alt="">
      <div><a href={{aff.link}}>{{aff.name}}</a></div>
      <div>{{aff.date}}</div>
      </center>
    </div>
    {% endfor %}
  </div>
</div>
