---
layout: project_layout
permalink: /resource/projects/TTA/
title: "Deep Nets with Subsampling Layers Unwittingly Discard Useful Activations at Test-Time"
theme: purdue

authors:
  - {name: "Chiao-An Yang", url: "https://ca-joe-yang.github.io/", affs: [1]}
  - {name: "Ziwei Liu",     url: "https://liuziwei7.github.io/",   affs: [2]}
  - {name: "Raymond A. Yeh", url: "https://raymond-yeh.com/",      affs: [1]}

affiliations:
  - {short: "Purdue University, Department of Computer Science", logo: "purdue_logo.png"}
  - {short: "S-Lab, Nanyang Technological University"}

venue: "ECCV 2024"

links:
  - {kind: arxiv,  url: "https://arxiv.org/abs/2410.01083"}
  - {kind: github, url: "https://github.com/ca-joe-yang/discard-in-subsampling"}

bibtex: |
  @inproceedings{yang2024subsampling,
    title={Deep Nets with Subsampling Layers Unwittingly Discard Useful Activations at Test-Time},
    author={Yang, Chiao-An and Liu, Ziwei and Yeh, Raymond A},
    booktitle={Proc. ECCV},
    year={2024}
  }
---

{% include project/section.html title="Abstract" %}
  <p>
    Subsampling layers play a crucial role in deep nets by discarding a portion of an activation map to reduce its spatial dimensions.
    This encourages the deep net to learn higher-level representations.
    Contrary to this motivation, we hypothesize that the discarded activations are useful and can be incorporated on the fly to improve models' prediction.
    To validate our hypothesis, we propose a search and aggregate method to find useful activation maps to be used at test time.
    We applied our approach to the task of image classification and semantic segmentation.
    Extensive experiments over nine different architectures on multiple datasets show that our method consistently improves model test-time performance,
    complementing existing test-time augmentation techniques.
  </p>

  {% include project/figure.html
       src="assets/teaser.png"
       id="teaser"
       alt="Teaser"
       max_width="80%"
       wrapper_class="figure-image-wrapper" %}
{% include project/section-end.html %}


{% include project/section.html title="Presentation" %}
  <div class="video-container">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/GPGoD9rwoBg"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
{% include project/section-end.html %}
